sqlalchemy
ollama
agno==1.8.3
tiktoken
python-docx
reportlab
markdown2
chromadb
langchain-ollama
langchain_community
langchain-text-splitters
pypdf
streamlit
pypandoc
pandas
tabulate
pypandoc
fastapi
uvicorn
deepeval>=1.4.9